{% extends 'intra/base.html' %}

{% block content %}

<html>
    <head>
        <title>Merguez auto école</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Merguez auto école</a></h1>
        </div>

        <div>
            {% for rdv in rdvs %}
              <div>
               
                <p>étudiant : <a href="{% url 'rdv_detail' pk=rdv.pk %}">{{rdv.id_student}}</a></p>
              </div>
              <br>
            {% endfor %}
        </div>
    </body>
</html>
{% endblock %}

